<template name="About">

  <section id="about" class="content transparent">
    <div class="overlay-bg dark"></div>
    <div class="container dark full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <div class="page-header">
          <h2 class="info-color">About EmpireNode</h2>
        </div>

        <p class="lead">
          EmpireNode is the premier one day, single-track, community run Node.js conference in NYC. Each year we highlight the cutting-edge of what the <i>fork</i> is going on with Node.js. The conference includes talks brought to you by some of the brightest minds in the community. Last year we covered everything from Gestural Color Spaces, to Cloud Automation in Node.
        </p>

      </div>
    </div>
  </section>
</template>
