<template name="About">

  <section id="about" class="content transparent">
    <div class="overlay-bg dark"></div>
    <div class="container dark full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <div class="page-header">
          <h2 class="info-color">About EmpireNode</h2>
        </div>

        <p class="lead">
          EmpireNode is the premier one day, single-track, community run Node.js conference in NYC. Each year we highlight the cutting-edge of what the <i>fork</i> is going on with Node.js. The conference includes talks and workshops brought to you by some of the brightest minds in the community. Last year we covered everything from Gestural Color Spaces, to Cloud Automation in Node.
        </p>

        <i class="lead">Join us again this year to learn what's new in Node in 2015, and to learn new skills you can apply on a daily basis.</i>

        <a target="_blank" href= "https://ti.to/empirejs/empirenode-2015/" class="btn btn-round btn-info btn-lg">Get Tickets Now!</a>

      </div>
    </div>
  </section>
</template>
