<template name="About">

  <section id="about" class="content">

    <div class="container full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <div class="page-header">
          <h2 class="primary-color">About</h2>
          <h1>What is EmpireNode all about?</h1>
        </div>

        <p class="lead">
          EmpireNode is the premier one day, single-track, community run Node.js conference in NYC. Each year we highlight the cutting-edge of what the <i>fork</i> is going on with Node.js. The conference includes talks and workshops brought to you by some of the brightest minds in the community. Last year we covered everything from Gestural Color Spaces, to Cloud Automation in Node.
        </p>

        <i class="lead">Join us again this year to learn what's new in Node in 2015, and to learn new skills you can apply on a daily basis. Check back soon for tickets!</i>

      </div>
    </div>
  </section>

</template>
