<template name="CallForSpeakers">
  <section id="call-for-speakers" class="content transparent">
    <div class="overlay-bg dark"></div>
    <div class="container dark full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <div class="page-header">
          <h2 class="info-color">Call For Speakers</h2>
          <h1>Interested In Speaking at EmpireNode?</h1>
        </div>
        <p class="lead">
          Join us for the 2nd annual EmpireNode, the community-backed Node.js conference, in New York City! Have a great project or paradigm you want to share with the world? We want to hear about it! We’ve heard of far-scaling distributed systems and amazing new tooling. We’ve seen Node.js powered robots, treadmills, sewing machines, and drones. We want to see and hear your new MAD SCIENCE! Fill out the <a class="info-color" href=”#”>call for speakers form</a> and we’ll get back to you in a flash!
        </p>
        <p class="lead">
          EmpireNode will be on Friday, October 23rd, hosted at the American Museum of Native Americans. The museum is located next to battery park (and the Staten Island ferry for those who remember EmpireJS this year :) ).
        </p>
        <button class="btn btn-lg btn-round btn-info">
          Submit Your Talk
        </button>
      </div>
    </div>
  </section>
</template>
