<template name="CallForSpeakers">
  <section id="call-for-speakers" class="content dark fork text-center">
    <div class="overlay-bg dark"></div>
    <div class="container dark">
      <div class="page-header">
        <h3 class="info-color">Call For Speakers</h3>
        <h1>Interested In Speaking at EmpireNode?</h1>
      </div>
      <p class="lead">
        Submit a paper abstract, a personal bio, as well as a list of previous presentations and publications. Deadline for submission is August 31, 2015.
      </p>
      <button class="btn btn-lg btn-round btn-info">
        Submit Your Talk
      </button>
    </div>
  </section>
</template>
