<template name="Captions">
  <section id="captions" class="content">
    <div class="container full-centered text-centered">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

        <div class="page-header">
          <h2 class="primary-color">Captions</h2>
        </div>

        <p>Captions can be found at <a href="http://www.streamtext.net/player?event=EmpireNode" target="_blank">http://www.streamtext.net/player?event=EmpireNode</a></p>

      </div>
    </div>
  </section>
</template>
