@import '/client/style/imports.import.less';

#code-of-conduct {
  background: @darkBlue;

  p {
    text-align: justify;
  }

  a {
    color: @infoColor;
    &:link, &:visited {
      color: @infoColor;
    }
    &:hover {
      color: lighten(@infoColor, 10%);
    }

  }
}
