<template name="CodeOfConduct">

  <section id="code-of-conduct" class="content dark">
    <div class="overlay-bg dark"></div>
    <div class="container dark full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <div class="page-header">
          <h2 class="info-color">Code of Conduct</h2>
        </div>
        <p class="lead">
          We are an inclusive, kind community that is constantly growing. We ask all speakers and attendees to follow the <a href="https://github.com/EmpireJS/Code-of-Conduct" class='info-color'>EmpireJS code of conduct</a>, and try and make our fellow Empire friends feel welcome! Diversity of voices is important to our community, and we are serious when we say EVERYONE AND ANYONE should attend and participate.
        </p>
      </div>
    </div>
  </section>

</template>
