<template name="CodeOfConduct">

  <section id="code-of-conduct" class="content dark">
    <div class="page-header">
      <h3 class="info-color">Code Of Conduct</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <p class="lead">We are an inclusive, kind community that is constantly growing. We ask that all speakers and attendees <a href="http://jsconf.com/codeofconduct.html" class='info-color'>to follow the JSConf code of conduct</a>, and try and make our fellow Empire friends feel welcome! Diversity of voices is important to our community, and we are serious when we say EVERYONE AND ANYONE should attend and participate.</p>

        </div>
      </div>
    </div>
  </section>

</template>
