<template name="Intro">
  <div id="intro" class="full-screen-container">
  <div id = "cfp-open">
    <a href = "https://docs.google.com/forms/d/1qUgKrfhuAOpsmqCE-9blPOyd2m7WjeuaO7qBdDdmARM">Call for speakers is Open!</a>
  </div>
    <div class="item background-cover" style="background-image: url('{{image}}')">
      <div class="overlay-bg dark"></div>
      <div class="container dark full-centered text-centered ">

          <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">

            <section id="keynote" class="content">
              <img class="img-responsive center-block" src="images/logo_large-480.png" alt="Empire Node Large Gorilla Logo">
            </section>

            <h1>What the fork is going on with Node.js!?</h1>
            <p class="lead">
              The wildest, community-run, single-track conference for Node in New York is back! Witness, for yourself, the amazing event at the <a href="http://www.nmai.si.edu/visit/newyork/" target="_blank">National Museum of the American Indian</a> in NYC on October 23rd, 2015. See with your own eyes, a day packed with amazing speakers, topics from the cutting-edge jungles of Node.js userland, and experiences you expect from the Kong of High Tech cities!
            </p>

            <a target="_blank" href= "https://ti.to/empirejs/empirenode-2015/" class="btn btn-lg btn-round btn-info">Buy Tickets!</a>

            <a target="_blank" href= "https://docs.google.com/forms/d/1qUgKrfhuAOpsmqCE-9blPOyd2m7WjeuaO7qBdDdmARM" class="btn btn-lg btn-round btn-info">Submit Your Talk</a>
          </div>

        <!-- <button class="btn btn-lg btn-round btn-primary">
          Get Tickets
        </button> -->
      </div>
    </div>
  </div>
</template>
