<template name="Intro">
  <div id="intro" class="full-screen-container">
    <div id="cfp-open" class="hidden-xs">
      <a href="https://docs.google.com/forms/d/1qUgKrfhuAOpsmqCE-9blPOyd2m7WjeuaO7qBdDdmARM">Call for speakers is Open!</a>
    </div>
    <div class="item background-cover" style="background-image: url('{{image}}')">
      <div class="overlay-bg dark"></div>
      <div class="container dark full-centered text-centered ">

          <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">

            <h2>EmpireNode 2015</h2>

            <h1>What the <i>fork</i> is going on with Node.js!?</h1>
            <p class="lead">
              The wildest, community-run, single-track conference for Node in New York is back! Witness, for yourself, the amazing event in NYC on <strong>October 23rd, 2015</strong>. <span class="hidden-xs">See with your own eyes, a day packed with amazing speakers, topics from the cutting-edge jungles of Node.js userland, and experiences you expect from the Kong of High Tech cities!</span>
            </p>

            <a target="_blank" href= "https://ti.to/empirejs/empirenode-2015/" class="btn btn-lg btn-round btn-primary">Get Tickets!</a>

          </div>

        <!-- <button class="btn btn-lg btn-round btn-primary">
          Get Tickets
        </button> -->
      </div>
    </div>
  </div>
</template>
