<template name="Location" >

    <section id="location" class="content light" >
        <div class="page-header" >
            <h3 class="info-color" >Location</h3 >

            <h2 ><a href="http://www.nmai.si.edu/visit/newyork/" >National Museum of the American Indian</a ></h2 >
        </div >
        <div class="container" >
            <div class="row" >
            </div >
            <div class="col-xs-3" >
                <p >
                    Located in the heart of the financial district in Manhattan.
                </p >

                <p >
                    Acessible by

                    <span class="mta-bullet mta-1" >1</span >
                    <span class="mta-bullet mta-2" >2</span >
                    <span class="mta-bullet mta-3" >3</span >
                    <span class="mta-bullet mta-4" >4</span >
                    <span class="mta-bullet mta-5" >5</span >
                    <span class="mta-bullet mta-r" >R</span >
                    <span class="mta-bullet mta-j" >J</span >
                    and
                    <span class="mta-bullet mta-z" >Z</span >
                    subway trains.
                </p >
            </div >
            <div class="col-xs-8 col-xs-offset-1" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6049.203805547267!2d-74.01266265872194!3d40.704764468953165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8891204f43265340!2sNational+Museum+of+the+American+Indian!5e0!3m2!1sen!2sus!4v1437677785664"
                        width="100%" height="200" frameborder="0" style="border:0" allowfullscreen ></iframe >
            </div >
        </div >
    </section >

</template >
