<template name="Location" >

    <section id="location" class="content">
    <div class="container full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-9 col-lg-7">
        <div class="row">
            <div class="col-xs-12 col-sm-4" >
                <p class="lead">Located in the heart of the financial district in Manhattan at the <a target="_blank" href="http://nmai.si.edu/visit/newyork/" class="primary-color">National Museum of the American Indian</a>.</p>
                <p class="lead subways">
                    Acessible by
                    <span class="mta-bullet mta-1" >1</span >
                    <span class="mta-bullet mta-2" >2</span >
                    <span class="mta-bullet mta-3" >3</span >
                    <span class="mta-bullet mta-4" >4</span >
                    <span class="mta-bullet mta-5" >5</span >
                    <span class="mta-bullet mta-r" >R</span >
                    <span class="mta-bullet mta-j" >J</span >
                    and
                    <span class="mta-bullet mta-z" >Z</span >
                    subway trains.
                </p>
                <p class="lead">Hotel accomodations one block from the venue are provided by Doubletree. <a target="_blank" href="http://nycfinancialdistrict.doubletree.com">Book here</a> using the group code 'RSC' at checkout.</p>
            </div >
            <div class="col-xs-12 col-sm-7 col-sm-offset-1" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6049.203805547267!2d-74.01266265872194!3d40.704764468953165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8891204f43265340!2sNational+Museum+of+the+American+Indian!5e0!3m2!1sen!2sus!4v1437677785664"
                        width="100%" height="400" frameborder="0" style="border:0" allowfullscreen >
                </iframe >
            </div >
        </div>
      </div>
    </div>
  </section>

</template >
