<template name="Organizers">
  <section id="organizers" class="content light">
    <div class="container text-centered">

      <div class="row">
        <div class="page-header">
          <h2 class="primary-color">Organizers</h2>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://avatars1.githubusercontent.com/u/554847?v=3&s=240" alt="Matt Walters">
            <div class="caption">
              <h4>Matt Walters</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://avatars3.githubusercontent.com/u/474827?v=3&amp;s=240" alt="Patrick Scott">
            <div class="caption">
              <h4>Patrick Scott</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://avatars2.githubusercontent.com/u/527740?v=3&s=240" alt="Chris Abrams">
            <div class="caption">
              <h4>Chris Abrams</h4>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://avatars3.githubusercontent.com/u/86842?v=3&s=240" alt="Aidan Feldman">
            <div class="caption">
              <h4>Aidan Feldman</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://avatars1.githubusercontent.com/u/1163554?v=3&s=240" alt="Ashley Williams">
            <div class="caption">
              <h4>Ashley Williams</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img  id="kirill" src="http://2014.empirejs.org/img/speakers/kirill-cherkashin.jpg" alt="Kirill Cherkashin">
            <div class="caption">
              <h4>Kirill Cherkashin</h4>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</template>
