<template name="Organizers">
  <section id="organizers" class="content">
    <div class="container full-centered text-centered">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

        <div class="page-header">
          <h2 class="primary-color">Organizers</h2>
        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="https://avatars1.githubusercontent.com/u/554847?v=3&s=240" alt="Matt Walters">
              <div class="caption">
                <h3>Matt Walters</h3>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="https://avatars3.githubusercontent.com/u/474827?v=3&amp;s=240" alt="Patrick Scott">
              <div class="caption">
                <h3>Patrick Scott</h3>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="https://avatars2.githubusercontent.com/u/527740?v=3&s=240" alt="Chris Abrams">
              <div class="caption">
                <h3>Chris Abrams</h3>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="https://avatars3.githubusercontent.com/u/86842?v=3&s=240" alt="Aidan Feldman">
              <div class="caption">
                <h3>Aidan Feldman</h3>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="https://avatars1.githubusercontent.com/u/1163554?v=3&s=240" alt="Ashley Williams">
              <div class="caption">
                <h3>Ashley Williams</h3>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img  id="kirill" src="http://2014.empirejs.org/img/speakers/kirill-cherkashin.jpg" alt="Kirill Cherkashin">
              <div class="caption">
                <h3>Kirill Cherkashin</h3>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</template>
