<template name="Schedule">
  <section id="schedule" class="content">
    <div class="container full-centered text-centered">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

        <div class="page-header">
          <h2 class="primary-color">Schedule</h2>
        </div>

        <div class="timeline-post">
          <ul>

            {{#each scheduleItems}}
              <li class="{{scheduleItemClass}}">
                <div class="date">
                  <span>{{when}}</span>
                  <span class="small">{{ampm}}</span>
                </div>
                <h4>{{{title}}} {{#if who}}<small>by {{who}}</small>{{/if}}</h4>
                {{#if description}}
                  <p>
                    {{description}}
                  </p>
                {{/if}}
              </li>
            {{/each}}

          </ul>
        </div>

      </div>
    </div>
  </section>
</template>
