<template name="Sponsors">
  <section id="sponsors" class="content">
    <div class="container full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">

        <div class="page-header">
          <h2 class="primary-color">Our Sponsors</h2>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 sponsor">
            <img class="img-responsive" src="/images/shutterstock-logo.png" alt="Shutterstock">
          </div>
          <div class="col-xs-12 col-sm-6 sponsor">
            <img class="img-responsive" src="/images/bloomberg_720.png" alt="Bloomberg">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 sponsor">
            <img class="img-responsive" src="/images/ebay-marketplaces-logo_360.png" alt="Ebay">
          </div>
          <div class="col-xs-12 col-sm-6 sponsor">
            <img class="img-responsive" src="/images/godaddy_360.jpg" alt="GoDaddy">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 sponsor">
            <img id="conde-nast" class="img-responsive" src="/images/conde_nast_360.png" alt="Conde Nast">
          </div>
          <div class="col-xs-12 col-sm-6 sponsor">
            <img class="img-responsive" src="/images/meteor-logo_360.png" alt="Meteor">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 sponsor">
            <img id="etsy" class="img-responsive" src="/images/etsy_360.png" alt="Etsy">
          </div>
          <div class="col-xs-12 col-sm-6 sponsor">
            <img class="img-responsive" src="/images/hbo-logo_360.jpg" alt="HBO">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 sponsor">
            <img class="img-responsive" src="/images/nodesource-logo.svg" alt="NodeSource">
          </div>
          <div class="col-xs-12 col-sm-6 sponsor">
            <img class="img-responsive" src="/images/logo-paintzen_720.jpg" alt="NodeSource">
          </div>
        </div>

      </div>
    </div>
  </section>
</template>


<!-- <div class="sponsor">

          </div>
          <div class="sponsor">

          </div>
          <div class="sponsor">

          </div>
          <div class="sponsor">

          </div>
          <div class="sponsor">

          </div>
          <div class="sponsor">

          </div>
          <div class="sponsor">

          </div>
        </div> -->
