@import '/client/style/imports.import.less';

#sponsors {
  div.sponsor {
    margin: 15px;
    img.white {
      background-color: white;
    }
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
