<template name="Sponsors">
  <section id="sponsors" class="content transparent">
    <div class="overlay-bg dark">
      something
    </div>
    <div class="container dark full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <div class="page-header">
          <div class="sponsor">
            <img src="/images/shutterstock-logo.png" alt="Shutterstock">
          </div>
          <div class="sponsor">
            <img src="/images/bloomberg_720.png" alt="Bloomberg">
          </div>
          <div class="sponsor">
            <img src="/images/ebay-marketplaces-logo_360.png" alt="Ebay">
          </div>
          <div class="sponsor">
            <img src="/images/godaddy_360.jpg" alt="GoDaddy">
          </div>
          <div class="sponsor">
            <img class="white" src="/images/conde_nast_360.png" alt="Conde Nast">
          </div>
          <div class="sponsor">
            <img src="/images/etsy_360.png" alt="Etsy">
          </div>
          <div class="sponsor">
            <img class="white" src="/images/meteor-logo_360.png" alt="Meteor">
          </div>
          <div class="sponsor">
            <img src="/images/hbo-logo_360.jpg" alt="HBO">
          </div>
          <div class="sponsor">
            <img class="white" src="/images/nodesource-logo.svg" alt="NodeSource">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
