<template name="Header">
    <header id="header">
        <!--logo start-->
        <ul class="nav navbar-nav navbar-left">
            <li class="toggle-navigation toggle-left">
                <button class="sidebar-toggle" id="toggle-left">
                    <i class="fa fa-bars"></i>
                </button>
            </li>
        </ul>

        <div class="brand">
            <a class="logo">
                EmpireNode 2015
            </a>
        </div>
        <!--logo end-->
    </header>
</template>
