<template name="Footer">
  <section id="footer" class="content dark">
    <div class="container dark full-centered text-centered">
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <h2 class='info-color'>&lt;3</h2>
        <h1>Made in NYC</h1>
        <p class="">
          We are members of the New York City Javascript Community. We love Javascript and organize EmpireNode as volunteers with the goal of growing and educating the tech community in the greater New York area.
        </p>

        <small class="copyright muted">© 2015 EmpireNode. Contact us: <a href="mailto:us@empirejs.org" >us@empirejs.org</a ></small>

      </div>
    </div>
  </section>
</template>
