<template name="Loader">
  <div class="app-loader {{loaderClass}}">
    <div class="loader-text">{{loaderText}}</div>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</template>

<template name="PageLoader">
  <div class="page-loader">
    <div class="loader-text"></div>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</template>
